
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends 'base.html' %}

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Ajouter de nouveau contact !-->
<!-- Il faut faire une condition quand il y aura le login le pas avoir la personne co et les gens qui sont déjà en contact -->
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<table id="myTable">

            <thead>
                <tr class="header">
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in Users %}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>
                        <form action="{{ url_for('contact.add_contact') }}" method="post">
                            <!-- l'id de la personne connectée -->
                            <input type="hidden" name="user1" value="4">
                            <input type="hidden" name="user2" value="{{user[0]}}">
                            <input type="submit" value="Confirmer">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>


</table>

<h3> Liste des contacts</h3>
<!-- Liste des contacts -->


        <table>
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
            {% for user in Users %}
            <!-- recuperer l'utilisateur qui est connecté remplacer à la place du 1 -->
            {% if user[0] != 1 %}
                <tr>
                    <td>
                        <form action="#" method="post">
                            <input type="hidden" name="user1" value="4">
                            <input type="hidden" name="user2" value="{{user[0]}}">
                            <input type="submit" value="{{user[1]}}">
                        </form>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>


<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}